.library-container {
  overflow: scroll;
  width: 300px;
  height: 100%;
  padding: 0px 12px;
  background-color: #ffffff;
  transition: 0.3s;
}

.song-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.song-list-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -25px;
  background-color: #ffffff;
  width: 25px;
  height: 35px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.songlib-container {
  z-index: 999;
  position: relative;
  height: 100%;
  transition: 0.3s;
}

@media (max-width: 1100px){
  .library-container{
    width: 85px;
  }
}
